.table{
	width: 100%;
	text-align: left;
	color: #212121;
	font-family: Poppins;
	

	td,th{
		line-height: 1.3;
	}

	th{
		font-weight: 500;
		font-size: 20px;
		padding: 5px 15px;

		small{
			display: block;
			font-size: 14px;
			font-weight: 300;
		}
	}
	td{
		padding: 16px 15px;
	}

	tr{
		td:nth-child(1){
			color: #555555;
			font-weight: 300;
		}
	}

	&.bordered{
		border: 1px solid #a9a9a9;

		  th,
		  td {
		    border-top: 1px solid #a9a9a9;
		    border-right: 1px solid #a9a9a9;
		  }

		  thead th {
		    border-bottom: 1px solid #a9a9a9;
		  }

		  tbody + tbody {
		    border-top: 1px solid #a9a9a9;
		  }
	}

	thead{
		background-color: #838383;
		color: #fff;
	}
}


.bg-dark{
	tr{
		td:nth-child(1){
			color: $primary;
		}
	}
}